* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
    color: #444;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: 400;
}

a {
    color: #12AAEB;
    text-decoration: none;
}

a:hover {
    color: #FF4C4C;
}

h1 {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.3rem;
    color: #FF5A60;
    margin-bottom: 10px;
}

table.table {
    background-color: #fff;
    border-collapse: collapse;
    box-shadow: 0 3px 6px #d6d6d6;
    border: 1px solid #ddd;
    font-size: 0.8rem;
    width: 100%;
}

table.table thead {
    background-color: #12AAEB;
    border: 1px solid #66c8f2;
    color: #FFFFFF;
}

table.table tr:nth-child(even) {
    background-color: #f6f6f6;
}

table.table th {
    padding: 10px;
    font-weight: 400;
    text-align: left;
    font-size: 0.9rem;
}

table.table td {
    color: #333;
    padding: 10px;
}

tr.past td {
    color: #90c190;
}

header#top-bar {
    background-color: #004369;
    margin-bottom: 20px;
    min-height: 60px;
}

header#top-bar h1 {
    float: left;
    font-size: 1.2rem;
    line-height: 60px;
    width: 300px;
}

header#top-bar h1 a {
    color: #fff;
    text-decoration: none;
}

header#top-bar ul {
    float: right;
    list-style: none;
}

header#top-bar ul li {
    display: inline-block;
    padding-top: 19px;
}

header#top-bar ul li a {
    color: #fff;
    font-size: 0.7rem;
    text-decoration: none;
    padding: 23px 10px;
}

header#top-bar ul li a:hover {
    background-color: #003c5e;
}

.container {
    margin: 0 auto;
    width: 90%;
}

#main {
    background: #fff;
    padding: 20px;
}

.main-form {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 3px rgba(100, 100, 100, 0.4);
    padding: 20px 15px;
    width: 100%;
}

.form-field {
    margin-bottom: 20px;
}

.form-field label {
    display: block;
    font-weight: 400;
    margin-bottom: 5px;
}

.btn {
    background-color: #ddd;
    border: none;
    color: #666;
    cursor: pointer;
    padding: 10px 20px;
    box-shadow: 1px 1px 0 #ccc;
}

.btn:hover {
    background-color: #d5d5d5;
}

.btn:active {
    box-shadow: inset 1px 1px 5px #555;
    color: #fff;
}

.btn:focus {
    outline: 0;
}

.btn.red {
    color: #fff;
    background-color: #FF4C4C;
}

.btn.red:hover {
    background-color: #e54444;
}

.btn.green {
    color: #fff;
    background-color: #4ca64c;
}

.btn.green:hover {
    background-color: #449544;
}

.btn.blue {
    color: #fff;
    background-color: #4E90EC;
}

.btn.blue:hover {
    background-color: #4681d4;
}

.form-field input[type=text],
.form-field input[type=date],
.form-field input[type=password],
.form-field select {
    box-sizing: border-box;
    height: 35px;
    padding: 0 5px;
    width: 100%;
}

footer p {
    font-size: 0.8rem;
    padding: 15px 0;
}

.login-form {
    max-width: 350px;
    margin: 0 auto;
}

.login_error {
    color: red;
    padding: 5px 0;
}